<!DOCTYPE html>
<html$if(lang)$ lang="$lang$"$endif$>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="pandoc">
$for(author-meta)$
  <meta name="author" content="$author-meta$">
  <meta name="dc.creator" content="$author-meta$">

$endfor$

$if(coins)$
  $coins$
$endif$

$if(citation_journal_title)$
  <meta name="citation_journal_title" content="$citation_journal_title$">
  <meta name="dc.publisher" content="$citation_journal_title$">

$endif$
$if(title)$
  <meta name="citation_title" content="$title$">
  <meta name="dc.title" content="$title$">

<meta name="dc.Type" content="research-article"/>

$endif$
$if(citation_author)$
  <meta name="citation_author" content="$citation_author$">
$endif$
$if(citation_publication_date)$
  <meta name="citation_publication_date" content="$citation_publication_date$">
   <meta name="dc.date" content="$citation_publication_date$">
$endif$
$if(citation_volume)$
  <meta name="citation_volume" content="$citation_volume$">
$endif$
$if(citation_issue)$
  <meta name="citation_issue" content="$citation_issue$">
$endif$
$if(citation_firstpage)$
  <meta name="citation_firstpage" content="$citation_firstpage$">
$endif$
$if(citation_lastpage)$
  <meta name="citation_lastpage" content="$citation_lastpage$">
$endif$
$if(pdf_URL)$
<meta name="citation_pdf_url" content="https://www.crisisopportunity.org/articles/$pdf_URL$">
$endif$
$if(article_url)$
  <meta name="citation_fulltext_html_url" content="http://crisisopportunity.org/articles/$article_url$.html">
  <meta name="citation_abstract_html_url" content="http://crisisopportunity.org/articles/$article_url$.html">
$endif$
$if(lang)$
  <meta name="citation_language" content="$lang$">
$endif$
$if(keywords)$
  <meta name="citation_keywords" content="$keywords$">
$endif$

  <title>$if(title-prefix)$$title-prefix$ - $endif$$pagetitle$</title>

  <!-- SEO Meta Tags -->
$if(description)$
  <meta name="description" content="$description$">
$endif$
$if(keywords)$
  <meta name="keywords" content="$keywords$">
$endif$
$if(canonical)$
  <link rel="canonical" href="$canonical$">
$endif$

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="article">
$if(og-url)$
  <meta property="og:url" content="$og-url$">
$endif$
$if(og-title)$
  <meta property="og:title" content="$og-title$">
$endif$
$if(og-description)$
  <meta property="og:description" content="$og-description$">
$endif$
$if(og-image)$
  <meta property="og:image" content="$og-image$">
$endif$
$if(citation_publication_date)$
  <meta property="article:published_time" content="$citation_publication_date$-01-01">
$endif$
$if(citation_author)$
  <meta property="article:author" content="$citation_author$">
$endif$

  <!-- Twitter -->
  <meta property="twitter:card" content="summary">
$if(twitter-url)$
  <meta property="twitter:url" content="$twitter-url$">
$endif$
$if(twitter-title)$
  <meta property="twitter:title" content="$twitter-title$">
$endif$
$if(twitter-description)$
  <meta property="twitter:description" content="$twitter-description$">
$endif$
$if(twitter-image)$
  <meta property="twitter:image" content="$twitter-image$">
$endif$
  <style type="text/css">code{white-space: pre;}</style>
$if(quotes)$
  <style type="text/css">q { quotes: "“" "”" "‘" "’"; }</style>
$endif$
$if(highlighting-css)$
  <style type="text/css">
$highlighting-css$
  </style>
$endif$
$for(css)$
  <link rel="stylesheet" href="$css$">
$endfor$
$if(math)$
  $math$
$endif$
$for(header-includes)$
  $header-includes$
$endfor$
</head>
<body>



  <nav class="sticky-content">
    <span class="publisher"><a href="../index.html">Crisis <span class="spin">&</span> Opportunity</a></span>
    <span class="title"><a href="#top">$short_title$</a></span>
</nav>

$for(include-before)$
$include-before$
$endfor$
$if(title)$


<h1 class="title">$title$</h1>


$for(author)$
$if(author.name)$
<h2 class="author">$author.name$</h2>
$endif$
$endfor$


$endif$
$if(toc)$
<nav id="$idprefix$TOC">
$toc$
</nav>
$endif$

$if(citation)$
<p class="citation">$citation$
$if(pdf_URL)$
<a class="pdf-url" href="$pdf_URL$">PDF</a>
$endif$
</p>
$endif$

$if(abstract)$

<p class="abstract"><strong>Abstract: </strong>$abstract$</p>

$endif$


$body$
</body>
</html>
